body {
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 22px;
}

p {
    font-size: 15px;
}

.card {
    max-width: 320px;
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
}

.card img {
    max-width: 288px;
    max-height: 288px;
}

.card-text {
    padding: 16px;
}

.attribution {
    position: absolute;
    bottom: 10px;
}